<ui-gmap-google-map center='map.center' control='map' zoom='map.zoom' events='map.events'>
  <ui-gmap-markers models="markers.models" coords="'self'" icon="'icon'" options="markers.options" events='markers.events'>
  </ui-gmap-markers>
  <ui-gmap-polyline path="polyline.path" stroke="polyline.stroke" visible='polyline.visible' geodesic='polyline.geodesic' fit="false" editable="polyline.editable" draggable="polyline.draggable" icons='polyline.icons'>
  </ui-gmap-polyline>
</ui-gmap-google-map>

<div id="grid1" ui-grid="{ data: myData }" class="myGrid"></div>

<!-- Modal -->
<div class="modal fade" id="markerModal" tabindex="-1" role="dialog" aria-labelledby="markerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="markerModalLabel">マーカー設定</h4>
      </div>
      <div class="modal-body">
        <p>緯度:<span id='dlgLatitude'></span></p>
        <p>経度:<span id='dlgLongitude'></span></p>
        <hr />
        <div class="row">
          <div class="col-md-6">マーカーの挿入</div>
          <div class="col-md-3"><button type="button" class="btn" id="dlgInsPrev">前に</button></div>
          <div class="col-md-3"><button type="button" class="btn" id="dlgInsNext">後に</button></div>
        </div>
      </div>
      <div class="modal-footer">
        <div>
          <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
          <button type="button" class="btn btn-primary" id="dlgDelBtn">削除</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
